<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewData["Title"] - Phoenix ERP</title>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon.png" />
    <meta name="Phoenix ERP" content="ERP Web - AMX Sistemas" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Phoenix.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar
                    navbar-expand-sm
                    navbar-toggleable-sm
                    navbar-dark
                    bg-dark
                    border-bottom
                    box-shadow
                    mb-3
                    top-fixed">
            <div class="container-fluid">
                <button class="btn btn-secondary" id="sidebarToggle" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i class="fa fa-bars"></i>
                </button>
                <a href="https://amxsistemas.com.br" target="_blank" title="AMX Sistemas" class="navbar-brand" style="margin-left: 10px;">
                    <img src="~/images/brand.png" alt="AMX Sistemas">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title d-none d-sm-block" id="offcanvas">Phoenix ERP - Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a href="#" class="nav-link text-truncate">
                        <i class="fa fa-dashboard"></i>
                        <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                        <i class="fa fa-address-book"></i>
                        <span class="ms-1 d-none d-sm-inline">Cadastros</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-truncate">
                        <i class="fa fa-search"></i>
                        <span class="ms-1 d-none d-sm-inline">Consultas</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-truncate">
                        <i class="fa fa-file-lines"></i>
                        <span class="ms-1 d-none d-sm-inline">Movimentações</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-truncate">
                        <i class="fa fa-gear"></i>
                        <span class="ms-1 d-none d-sm-inline">Úteis</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-truncate">
                        <i class="fa fa-right-from-bracket"></i>
                        <span class="ms-1 d-none d-sm-inline">Sair do sistema</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div style="display: flex; justify-content: space-around;">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
            </div>
            <div>
                &copy; 2022 - Phoenix ERP by 
                <a href="https://amxsistemas.com.br" target="_blank">AMX Sistemas</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
