<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewData["Title"] - Phoenix ERP</title>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon.png" />
    <meta name="Phoenix ERP" content="ERP Web - AMX Sistemas" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Phoenix.styles.css" asp-append-version="true" />
</head>
<body>
    <header>


        <nav class="navbar
                    navbar-expand-sm
                    navbar-toggleable-sm
                    navbar-dark
                    bg-dark
                    border-bottom
                    box-shadow
                    mb-3
                    top-fixed">
            <div class="container-fluid">
                <button class="btn btn-secondary" id="sidebarToggle">
                    <i class="fa fa-bars"></i>
                </button>
                <a href="https://amxsistemas.com.br" target="_blank" title="AMX Sistemas" class="navbar-brand" style="margin-left: 10px;">
                    <img src="~/images/brand.png" alt="AMX Sistemas">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div style="display: flex; justify-content: space-around;">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
            </div>
            <div>
                &copy; 2022 - Phoenix ERP by 
                <a href="https://amxsistemas.com.br" target="_blank">AMX Sistemas</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/cjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
