<div class="modal fade" id="passwordMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #FFC300;">
        <i class="fa fa-warning fa-2xl"></i>
        <h4 class="modal-title" style="margin-left: 10px;">Atenção</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Mensagem!</p>
      </div>
      <div class="modal-footer" style="border-top: 0px">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
