@{
    ViewData["Title"] = "Início";
}

<div>
    <div class="col-md-12" style="display: inline-flex; justify-content:space-between">

        <div class="card" style="width: 18rem;">
            <div class="card-header" style="background-color: red; color: white;">
                <i class="fa fa-dot-circle"></i>
                Metas
            </div>        
            <div class="card-body" style="background-color: lightcoral">
                <h5 class="card-title">Meta (mês)</h5>
                <p class="card-text">Meta: R$ 0,00</p>
                <p class="card-text">Vendido: R$ 0,00</p>
                <p class="card-text">Percentual: 0,00 %</p>
            </div>
            <div class="card-footer text-muted">
                Falta: R$ 0,00
            </div>        
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header" style="background-color: blueviolet; color: white;">
                <i class="fa fa-pencil"></i>
                Orçamentos
            </div>        
            <div class="card-body" style="background-color: cornflowerblue">
                <h5 class="card-title">Orçamentos (mês)</h5>
                <p class="card-text">Orçamentos: 0</p>
                <p class="card-text">Valor total: R$ 0,00</p>
            </div>
            <div class="card-footer text-muted">
                Falta: R$ 0,00
            </div>        
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header" style="background-color: green; color: white;">
                <i class="fa fa-line-chart"></i>
                Vendas
            </div>        
            <div class="card-body" style="background-color: greenyellow">
                <h5 class="card-title">Vendas (mês)</h5>
                <p class="card-text">Quantidade de Vendas: 0</p>
                <p class="card-text">Valor total de Vendas: R$ 0,00</p>
            </div>
            <div class="card-footer text-muted">
                Falta: R$ 0,00
            </div>        
        </div>
    </div>

    <div class="col-md-12" style="display: inline-flex; justify-content:space-between; padding-top: 10px;">

        <div class="card" style="width: 18rem;">
            <div class="card-header" style="background-color: brown; color: white;">
                <i class="fa fa-usd"></i>
                Cotações
            </div>        
            <div class="card-body" style="background-color: burlywood">
                <h5 class="card-title">Cotações</h5>
                <p class="card-text">Dólar: R$ 0,00</p>
                <p class="card-text">Euro: R$ 0,00</p>
            </div>
            <div class="card-footer text-muted">
                Falta: R$ 0,00
            </div>        
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header" style="background-color: blue; color: white;">
                <i class="fa fa-users"></i>
                Clientes
            </div>        
            <div class="card-body" style="background-color: lightblue">
                <h5 class="card-title">Clientes</h5>
                <p class="card-text">Clientes cadastrados no mês: 0</p>
                <p class="card-text">Total de Clientes cadastrados: 0</p>
            </div>
            <div class="card-footer text-muted">
                Falta: R$ 0,00
            </div>        
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header" style="background-color: darkolivegreen; color: white;">
                <i class="fa fa-line-chart"></i>
                Projeção
            </div>        
            <div class="card-body" style="background-color: darkkhaki">
                <h5 class="card-title">Projeção (mês)</h5>
                <p class="card-text">Dias úteis: 0</p>
                <p class="card-text">Dias remanescentes: 0</p>
                <p class="card-text">Projeção de Vendas: R$ 0,00</p>
            </div>
            <div class="card-footer text-muted">
                Falta: R$ 0,00
            </div>        
        </div>

    </div>

</div>
