html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 90px;
    margin-bottom: 60px;
}

.table tbody tr.highlight td {
    background-color: #B0C4DE;
}