@model Phoenix.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: space-between;">
    <div>
        <h4>Usuários - Editar</h4>
    </div>
    <div style="display: flex; justify-content: flex-end">
        <div style="margin-left: 30px;">
            <a class="btn btn-outline-dark" asp-action="PasswordChange" asp-route-id=@Model.Id>
                <i class="fa fa-key" style="padding-right: 5px;"></i>
                Senha
            </a>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="Password" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" autofocus/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileId" class="control-label"></label>
                <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-success" onclick="this.closest('form').submit();return false;" tabindex="0">
                    <i class="fa fa-check"></i>
                    Salvar
                </a>
                <a class="btn btn-secondary" href="@Url.Action("Index", "Users")" tabindex="1">
                    <i class="fa fa-undo"></i>
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
