@model Phoenix.Models.User

@{
    ViewData["Title"] = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Usuários - Alterar senha</h4>
<hr />

<div class="modal fade" id="passwordMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #FFC300;">
        <i class="fa fa-warning fa-2xl"></i>
        <h4 class="modal-title" style="margin-left: 10px;">Atenção</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><label id="messageP"></label></p>
      </div>
      <div class="modal-footer" style="border-top: 0px">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form id="frmChangePassword" asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ProfileId" />
            <input type="hidden" asp-for="StatusId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">Senha atual</label>
                <input class="form-control"
                       id="currentPassword"
                       type="password"
                       placeholder="Digite a senha atual"
                       autofocus/>
            </div>
            <div class="form-group">
                <label class="control-label">Nova senha</label>
                <input asp-for="Password"
                                id="password"
                                placeholder="Digite a nova senha"
                                class="form-control"
                                type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmação da senha</label>
                <input class="form-control"
                       id="confirmPassword"
                       name="confirmPassword"
                       placeholder="Confirme a nova senha"
                       type="password"/>
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-success" onclick="passwordValidation()">
                    <i class="fa fa-check"></i>
                    Salvar
                </a>
                <a class="btn btn-secondary" href="@Url.Action("Index", "Users")">
                    <i class="fa fa-undo"></i>
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function passwordValidation() {
        var currentPassword = document.getElementById("currentPassword").value;
        if ("@Model.Password" != currentPassword) {
            $("#messageP").text("A senha atual não confere!");
            $("#passwordMessage").modal("show");
            return false;
        }

        var password = document.getElementById("password").value;
        if (password == null || password == '' || password == ' ') {
            $("#messageP").text("É necessário digitar a nova senha!");
            $("#passwordMessage").modal("show");
            return false;
        }

        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password != confirmPassword) {
            $("#messageP").text("A nova senha e a confirmação não conferem!");
            $("#passwordMessage").modal("show");
            return false;
        }

        document.getElementById("frmChangePassword").submit();
        return false;
    }
</script>
